<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav bg-dark" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-white mt-4">Ajopay</mat-toolbar>
    <mat-nav-list class=" list mt-5">
      <a mat-list-item class="list1 mb-2 text-white" href="#"><i class="fa fa-user m-3 pl-5"> Account</i></a>
      <a mat-list-item class="list1 mb-2 text-white" href="#"><i class="fa fa-users m-3"> Ajo Group</i></a>
      <a mat-list-item class="list1 mb-2 text-white" href="#"><i class="fa fa-envelope m-3">Ajo Invites</i></a>
      <a mat-list-item class="list1 mb-2 text-white" href="#"><i class="fa fa-history m-3"> Ajo History </i></a>
      <a mat-list-item class="list1 mb-2 text-white" href="#"><i class="fa fa-download m-3 "> Ajo wallet </i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  class="bg-dark text-white p-4" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"  >menu</mat-icon>
      </button>
      <div class="mx-auto">
      <i style="margin-left: -25px; position: absolute; top: 10; font-size: 30px;" class="fa fa-user"></i>
      <h3  class=" content">Owoade Toluwanimi </h3>
      <!-- <p>its friday</p> -->
      </div>
    </mat-toolbar>

    <div class=" container p-5">
      <div class="row">
        <div class="col-12 col-md-4 mb-3  ">
            <div class=" p-5  text-white bg">
              <p align='center'>Ajo Fund:</p>
              <h4 align='center'>&#8358;00:00</h4>
            </div>
        </div>

        <div class="col-12  col-md-4 mb-3">
          <div class=" p-5 bg2  text-white ">
            <p align='center'>Ajo Pending Balance:</p>
              <h4 align='center'>&#8358;00:00</h4>
          </div>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <div class=" p-5  text-white bg3">
          <p align='center'>Ajo Available Withdraw:</p>
              <h4 align='center'>&#8358;00:00</h4> 
        </div>
    </div>
      </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12  col-10  mb-5">
              <p align='center'>

                <img style="height: 350px; width: 350px;" class="mx-auto mb-3"  src="/assets/banner.svg" alt=""><br>
                <button class="btn btn-dark"> Create an Ajo Group <i class="fa fa-users"></i></button>
              </p>

            </div>
        </div>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
