.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.list .list1{
  font-size: 15px;
}

.bg{
  background: rgb(154,21,131);
  background: linear-gradient(90deg, rgba(154,21,131,0.9867297260701156) 0%, rgba(175,105,190,1) 58%, rgba(164,144,202,1) 100%);
  border-radius: 10px;
}

.bg2{
  background: rgb(21,136,154);
background: linear-gradient(90deg, rgba(21,136,154,0.9867297260701156) 0%, rgba(120,105,190,1) 58%, rgba(115,15,168,1) 100%);
border-radius: 10px;
}

.bg3{
  background: rgb(154,21,131);
  background: linear-gradient(90deg, rgba(154,21,131,0.9867297260701156) 0%, rgba(175,105,190,1) 58%, rgba(164,144,202,1) 100%);
  border-radius: 10px;
}
/* .content{
  margin-left: 1000px;
  
} */

/* @media (min-width: 768px) {
  .content{
    margin-left: 100px;
    background-color: red;
    
  }
  
} */


